:root {
	--bg: #282c34;
	--dark: #17191e;
	--bright: #abb2bf;
	--gray: #828791;
	--blue: #61afef;
	--orange: #d19a66;
	--green: #98c379;
	--magenta: #c678dd;
}

body {
	background-color: var(--bg) !important;
	color: var(--bright) !important;
	font-family: monospace;
	text-align: center;
}

#controll-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	padding: 25px;
	background-color: var(--blue) !important;
	text-align: center;
}

#controll-container input {
	color: var(--dark) !important;
	background-color: var(--bright);
	max-width: 45vw;
	border: 2px solid var(--dark) !important;
	font-size: 120%;
}

#controll-container button {
	color: var(--dark) !important;
	text-transform: uppercase;
	text-decoration: none;
	background: var(--bright);
	padding: 10px 3vw;
	border: 2px solid var(--dark) !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

#controll-container button:hover {
	color: var(--dark) !important;
	background: var(--orange);
	border-color: var(--orange) !important;
	transition: all 0.4s ease 0s;
}

#step-build-container, #code-table-btn-container {
	display: flex;
	flex-direction: row;
	gap: 3px;
}

#tree-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: space-around;
	gap: 10px;
	margin: 20px;
	padding: 30px;
	background-color: var(--bright);
	color: var(--dark);
	border-radius: 5px;
}

#code-table-container {
	margin: 20px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	background-color: var(--gray);
	color: var(--dark);
	border-radius: 5px;
}

#code-table-container table {
	border: 2px dotted var(--dark);
	padding: 2px;
}

#code-table-container tr, th {
	padding: 10px;
	border: 2px solid var(--dark);
}

#code-table-container #binary-code {
	padding: 5px;
	margin: 15px;
	font-size: 150%;
	border: 2px solid var(--dark);
}

#debug-container {
	display: none;
	margin: 10px;
	padding: 15px;
	background-color: var(--dark);
	border-radius: 5px;
}

.node {
	border: 5px solid;
	padding: 7px;
	margin: 3px;
	text-align: center;
}

.tail {
	border-radius: 15px;
	background-color: var(--green) !important;
}

.link {
	background-color: var(--magenta) !important;
}

.branches-container {
	display: flex;
	flex-direction: row;
	align-items: start;
}

#src-code {
	margin: 25px;
}

#src-code a {
	color: var(--bright) !important;
	text-decoration: none;
}

#src-code a:hover {
	text-decoration: underline dotted;
}
