body {
	background-color: #1d2021;
	color: #ebdbb2;
}

#controll-container {
	padding: 15px;
	background-color: #458588;
	text-align: center;
}

#tree-container {
	margin: 10px;
	padding: 15px;
	background-color: #ebdbb2;
	color: #1d2021;
	border-radius: 5px;
}

#debug-container {
	display: none;
	margin: 10px;
	padding: 15px;
	background-color: #282828;
	border-radius: 5px;
}
