body {
	background-color: #1d2021 !important;
	color: #ebdbb2 !important;
	font-family: monospace;
	text-align: center;
}

#controll-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 50px;
	padding: 25px;
	background-color: #458588 !important;
	text-align: center;
}

#controll-container input {
	color: #282828 !important;
	background-color: #ebdbb2;
	max-width: 45vw;
	border: 2px solid #282828 !important;
	font-size: 120%;
}

#controll-container button {
	color: #282828 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ebdbb2;
	padding: 10px 3vw;
	border: 2px solid #282828 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

#controll-container button:hover {
	color: #ebdbb2 !important;
	background: #d79921;
	border-color: #d79921 !important;
	transition: all 0.4s ease 0s;
}

#step-build-container, #code-table-btn-container {
	display: flex;
	flex-direction: row;
	gap: 3px;
}

#tree-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: space-around;
	gap: 10px;
	margin: 20px;
	padding: 30px;
	background-color: #ebdbb2;
	color: #1d2021;
	border-radius: 5px;
}

#code-table-container {
	margin: 20px;
	padding: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: space-around;
	background-color: #a89984;
	color: #1d2021;
	border-radius: 5px;
}

#code-table-container table {
	border: 2px dotted #1d2021;
	padding: 2px;
}

#code-table-container tr, th {
	padding: 10px;
	border: 2px solid #1d2021;
}

#debug-container {
	display: none;
	margin: 10px;
	padding: 15px;
	background-color: #282828;
	border-radius: 5px;
}

.node {
	border: 5px solid;
	padding: 7px;
	margin: 3px;
	text-align: center;
}

.tail {
	border-radius: 15px;
	background-color: #b8bb26 !important;
}

.link {
	background-color: #d3869b !important;
}

.branches-container {
	display: flex;
	flex-direction: row;
	align-items: start;
}

#src-code {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#src-code a {
	color: #ebdbb2 !important;
	text-decoration: none;
}

#src-code a:hover {
	text-decoration: underline dotted;
}
